<div id="footer">
<div style="clear:both">
<div text-align="center" class="socialbuttons">

<a class="github-button" href="https://github.com/Helioviewer-Project/JHelioviewer" data-icon="octicon-eye" data-count-href="/Helioviewer-Project/JHelioviewer/watchers" data-count-api="/repos/Helioviewer-Project/JHelioviewer#subscribers_count">Watch</a>
<a class="github-button" href="https://github.com/Helioviewer-Project/JHelioviewer" data-icon="octicon-star" data-count-href="/Helioviewer-Project/JHelioviewer/stargazers" data-count-api="/repos/Helioviewer-Project/JHelioviewer#stargazers_count">Star</a>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

<a href="https://twitter.com/Helioviewer" class="twitter-follow-button" data-show-count="true">Follow @Helioviewer</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.jhelioviewer.org/" data-via="Helioviewer">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>

<div><p>JHelioviewer is being developed as open-source software by the ESA JHelioviewer team.
<br>JHelioviewer is part of the ESA/NASA Helioviewer Project.
<br>Designed by <a href="http://www.flashdaweb.com/" target="_blank">FlashDaWeb</a>.
<br>Copyright by <a href="{{ site.esaPage }}" target="_blank">ESA</a>.</p></div>

<div style="clear:both">
<div style="text-align:center">Supported by</div>
<a href="http://www.ej-technologies.com/products/install4j/overview.html" target="_blank"><img src="imgs/references/install4j.png" width="75"></a>
<a href="https://raygun.io/" target="_blank"><img src="imgs/references/raygun.io.png" width="75"></a>
</div>
