# eclipse files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.cache-main
.scala_dependencies
.worksheet

# common java files
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.snap
*.index

# other files
hs_err_pid*
.location
*.new
build/builds
*.DS_Store
