<div id="logo">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td rowspan="1" valign="top" style="width:60%">
	<h1><a href="index.html">JHelioviewer</a></h1>
      </td>
      <td rowspan="1" valign="top" style="width:40%;vertical-align:text-bottom">
	&nbsp;<br />
	<img src="imgs/sun/eit_redt1.png" width="110" height="110" alt="" />
	<img src="imgs/sun/eit_greent1.png" width="110" height="110" alt="" />
	<img src="imgs/sun/eit_bluet1.png" width="110" height="110" alt="" />
      </td>    
    </tr>
  </table>
</div>